
<style>
    body.modal-open {
    overflow: visible;
}
.back-button {
    margin-left: calc(5px + (-1 * (39px - 1.5em)) / 2);
}

.pointer{
    cursor: pointer;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #bde4fc;
}
</style>
<br/>
<br/>
<h1 id="event_title">Econ Concepts</h1>

We explore basic economic concepts together which help us understand home pricing compoents. <b>Click on the rows below to explore the details.</b>
<br/>
<br/>

<div class="container">

    <table class="table">
        <tr >
            <td id="world_event_table" >
                <span class="align-middle">
                    <br/><br/><br/>

                    <table class="table table-responsive-md table-striped table-hover ">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Concept</th>
                            <th scope="col">Concept Description</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for index,event in econ_concepts.iterrows() %}
                            
                            <tr class="pointer" onclick="show_event_details('{{ event['concept']|replace('-','')|replace(' ','') }}',
                            '{{event['concept_description']}}',
                             '{{event["concept"]}}',
                             '{{event["information_url"]}}',
                             '{{event["number_of_images"]}}')">
                                <td>{{ event["concept"] }}</td>
                                <td>{{ event["concept_description"][:50] }}</td>
                            </tr>
                            <div class="modal fade" id="{{ event['concept']|replace('-','')|replace(' ','') }}" >
                                <div class="modal-dialog modal-sm" >
                                    <div class="modal-content modal-sm">
                                        <div class="modal-header modal-sm">
                                            <button type="button" class="close" data-dismiss="modal">×</button>
                                            <h4 class="modal-title">{{event['concept']}} Details </h4>
                                        
                                        </div>
                                        <div class="modal-body modal-sm">
                                            {{event['concept_description']}}
                                            <br/><br/>
                                            <button type="button" class="btn btn-success"onclick="show_event_details('{{ event['concept']|replace('-','')|replace(' ','') }}',
                                            '{{event['concept_description']}}',
                                             '{{event["concept"]}}',
                                             '{{event["information_url"]}}',
                                             '{{event["number_of_images"]}}')">Visualize</button>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>    
                            
                            <input type="hidden" id="{{ event['concept']|replace('-','')|replace(' ','') }}_text" style="display:none;" value="{{event['concept_description']}}" >
                                
                        </input>

                            {% endfor %}        
                            
                        </tbody>
                    </table>

                </span>
        

            </td>
            <td>

                <div id="world_detail_render_area">
                    <img src="./static/images/economics_1.jpeg" border="0" id="world_placeholder_image"/>

                    <div class="container-fluid" id="event_detail_rendering" style="display:none">
                        <div class="row">
                            <div class="col-md-2">
                                <img src="./static/images/back-button-svgrepo-com.svg" width="30" height="30" onclick="back_to_list()" id="move_back"/>
                            </div>
                            <div class="col-md-8 text-center"><a onclick="back_to_events()">Back to Concepts</a></div>
                            <div class="col-md-2 float-right">
                                <img src="./static/images/back-button-svgrepo-com.svg" width="30" height="30" style="transform:rotate(180deg)" class="float-end" id="move_forward" onclick="move_forward()"/>
                            </div>
                        </div>

                        <div class="row">
                          <div class="col-md-3">
                            <div id="event_detail_text"></div>
                          </div>
                          <div class="col-md-9">
                            <div id="event_render_container"></div>
                          </div>
                        </div>
                      </div>                    

                    </div>
                </div>


            </td>
        </tr>
    </table>



  </div>


<script>

var slide_no = 1;
var current_concept="";
var total_slides = 0;

function show_event_modal(concept)
{
    modal_id = "#"+concept;
    $(modal_id).modal('show'); 
}

function show_event_details(concept,concept_description,event_title,information_url,number_of_slides)
{

    nav_to_section('section_three');
    total_slides = number_of_slides;


    //alert(information_url)

    hyperlink = "&nbsp;<a href='"+ information_url+"' target='"+information_url+"' window='"+information_url+"'><img src='./static/images/book-svgrepo-com.svg' /></a>"

    title = event_title + hyperlink
    

    page_loading();
    modal_id = "#"+concept;
    $(modal_id).modal('hide');
    modal_id = "#world_event_table";
    $(modal_id).hide(); 
    modal_id = "#world_placeholder_image";
    $(modal_id).hide(); 
    $("#event_detail_rendering").show();

    target_event_text_id="#event_detail_text";
    document.getElementById('event_detail_text').innerHTML = concept_description;
    document.getElementById('event_title').innerHTML += ": " + title;
    document.getElementById("event_render_container").innerHTML = "";

    
    if((number_of_slides>1))
    {
        $("#move_forward").show();
    }
    else
    {
        $("#move_forward").hide();
    }

    current_concept = concept;

    render_econ_descriptions(concept,slide_no);

}

function move_forward()
{
    nav_to_section('section_three');
    slide_no +=1;
    page_loading();
    render_econ_descriptions(current_concept,slide_no);
    if(!(slide_no<total_slides))
    {
        $("#move_forward").hide();
    }
    else{
        $("#move_forward").show();
    }

}

function back_to_events()
{
    nav_to_section('section_three');
    slide_no = 1;
    back_to_list();
}

function back_to_list()
{
    nav_to_section('section_three');
    if(slide_no==1)
    {
    $("#event_detail_rendering").hide();
    modal_id = "#world_event_table";
    $(modal_id).show(); 
    modal_id = "#world_placeholder_image";
    $(modal_id).show(); 
    document.getElementById('event_title').innerHTML = "Econ Concepts";
    }
    else
    {
        slide_no-=1;
        page_loading();
        render_econ_descriptions(current_concept,slide_no);

        if(!(slide_no<total_slides))
        {
            $("#move_forward").hide();
        }
        else{
            $("#move_forward").show();
        }
    }

}

function render_econ_descriptions(concept,slide_no){

          $.ajax({
              url: '/render_econ_descriptions',
              type: 'post',
              data: {concept: concept, slide_no: slide_no},
              success: function(data){ 
                  $('#event_render_container').html(data); 
                  $('#event_render_container').append(data.htmlresponse);
              }
          });
        };



</script>

