
<br/><br/>
<h1 id="competition_tag">Competitive Landscape</h1>
 
<div id="competition_section"></div>


<script>





function back_to_list()
{

}

function render_competition(event_name,competition_slide_no){

          $.ajax({
              url: '/render_competition',
              type: 'post',
              data: {event_name: event_name, competition_slide_no: competition_slide_no},
              success: function(data){ 
                  $('#competition_section').html(data); 
                  $('#competition_section').append(data.htmlresponse);
              }
          });
        };


$(document).ready(function () {
    
    page_loading();
    render_competition("competition_section","1");

});

</script>

