
<div id="affordability_calc"></div>


<script>



      function refresh_charts(loan_term,interest_rates,downpayment_amt,monthly_allocation){
  
            //console.log("bozo")
  
            $.ajax({
                url: '/section_four_graph',
                type: 'post',
                data: {loan_term:loan_term,interest_rates : interest_rates, downpayment_amt:downpayment_amt, monthly_allocation:monthly_allocation },
                success: function(data){ 
                    $('#affordability_calc').empty();                 
                    $('#affordability_calc').html(data); 
                    $('#affordability_calc').append(data.htmlresponse); 
                    page_not_loading();
                }
            });
            
          };

  $(document).ready(function () {
      
      page_loading();
      refresh_charts("30","0.075","0.2","3750");
  
  });
  
  </script>
  
  