
<br/><br/>
<h2 id="post_mortem_tag">Post Mortem</h2>
 
<div id="post_mortem_section"></div>


<script>





function back_to_list()
{

}

function render_post_mortem(event_name,post_mortem_slide_no){

          $.ajax({
              url: '/render_post_mortem',
              type: 'post',
              data: {event_name: event_name, post_mortem_slide_no: post_mortem_slide_no},
              success: function(data){ 
                  $('#post_mortem_section').html(data); 
                  $('#post_mortem_section').append(data.htmlresponse);
              }
          });
        };


$(document).ready(function () {
    
    page_loading();
    render_post_mortem("post_mortem_section","1");

});

</script>

