
<br/><br/>
<h2 id="mission_statement_tag">Mission Statement</h2>
 
<div id="mission_statement_section"></div>


<script>





function back_to_list()
{

}

function render_mission_statement(event_name,mission_slide_no){

          $.ajax({
              url: '/render_mission_statement',
              type: 'post',
              data: {event_name: event_name, mission_slide_no: mission_slide_no},
              success: function(data){ 
                  $('#mission_statement_section').html(data); 
                  $('#mission_statement_section').append(data.htmlresponse);
              }
          });
        };


$(document).ready(function () {
    
    page_loading();
    render_mission_statement("mission_statement_section","1");

});

</script>

