
<br/><br/>
<h1 id="our_data_tag">Our Data</h1>
 
<div id="our_data_section"></div>


<script>





function back_to_list()
{

}

function render_our_data(event_name,data_slide_no){

          $.ajax({
              url: '/render_data_statement',
              type: 'post',
              data: {event_name: event_name, data_slide_no: data_slide_no},
              success: function(data){ 
                  $('#our_data_section').html(data); 
                  $('#our_data_section').append(data.htmlresponse);
              }
          });
        };


$(document).ready(function () {
    
    page_loading();
    render_our_data("our_data_section","1");

});

</script>

