
<div class="container">

    <div class="container-fluid" id="competition_event_detail_rendering" >
        <div class="row">
            <div class="col-md-1">
                <img src="./static/images/back-button-svgrepo-com.svg" width="40" height="40" onclick="move_back_competition()" id="move_back_competition"/>
            </div>

                <div class="col-md-10  float-left">
                    {% if event_text is not none %}
                    {{event_text|safe}}
                    {% endif %}
                </div>
    

            <div class="col-md-1 float-right">
                <img src="./static/images/back-button-svgrepo-com.svg" width="40" height="40" style="transform:rotate(180deg)" class="float-end" id="move_forward_competition" onclick="move_forward_competition()"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="event_render_competition">

                    {% if competition_image is not none %}
                    {% if slide_url is not none %}
                    <a href="{{slide_url}}" target="{{slide_url}}">
                    {% endif %}

                    {% if same_app_url is not none %}
                    <a href="{{same_app_url}}" >
                    {% endif %}                    

                    <img src="{{competition_image}}" id="{{competition_image}}" width="{{competition_image_width}}" height="{{competition_image_height}}">

                    {% if slide_url is not none %}
                    </a>
                    {% endif %}

                    {% if same_app_url is not none %}
                    </a>
                    {% endif %}                    

                    

                    {% endif %}

                    {% if event_texta is not none %}
                    {{event_texta|safe}}
                    {% endif %}

                    {% if event_textb is not none %}
                    <br/>
                    {{event_textb|safe}}

                    {% endif %}



                </div>

            </div>
        </div>
      </div>                    
    </div>

</div>


<script>

var competition_slide_no = 1;
var current_event_name = "";
var competition_total_slides = {{competition_slides_total}};

function move_forward_competition()
{
    nav_to_section("section_onea");
    competition_slide_no +=1;
    page_loading();
    render_competition("competition_section",competition_slide_no);

}

function its_alive()
  {
    var audio = new Audio("./static/audio/its_alive.mp3")
    audio.play()
    nav_to_section("section_five");
  }


function move_back_competition()
{   nav_to_section("section_onea");
    if(competition_slide_no==1)
    {
        return;
    }
    competition_slide_no -=1;
    page_loading();
    render_competition("competition_section",competition_slide_no);
}


  $(document).ready(function () {
    
    competition_slide_no = {{competition_slide_no}};

    if(!(competition_slide_no<competition_total_slides))
    {
        $("#move_forward_competition").hide();
    }
    else{
        $("#move_forward_competition").show();
    }    


    {% if tag is not none %}
        $("#competition_tag").text("{{tag|safe}}");
    {% endif %}

    page_not_loading();


});
</script>

